/* Reseta os estilos padrão do navegador */
* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #744C33;
    font-weight: 500;
    font-weight: bold
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem horizontal */
    background-color: #E3F4DE;
}

header {
    display: inline-block;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1;
    background-color: #E3F4DE;
    margin: 35px 0px 35px 0px  ;
}

.logo {
    width: 150px;
    display: inline-block;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Espaço adicional para evitar que o conteúdo fique atrás do footer */
    background-color: #F4E3A2
}

.product-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha para a esquerda */
    margin-bottom: 20px;
}

.product-container {
    margin-top: 32px;
    display: flex;
    align-items: flex-start; /* Alinha para a esquerda */
}

.product-image {
    width: 100%;
    max-width: 300px;
}

.product-details {
    text-align: left; /* Alinha para a esquerda */
    margin-left: 10px; /* Espaço entre a imagem e os detalhes do produto */
}

.descricao2 {
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 32px;
}

.descricao3 {
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 32px;
    margin-bottom: 32px;
}


.product-buttons {
    display: flex;
    justify-content: space-around
}

.adress-button {
    padding: 20px;
    padding-bottom: 60px; /* Espaço adicional para evitar que o conteúdo fique atrás do footer */
    background-color: #E3F4DE;
}
.cta-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background-color: #F4E3A2;
    color: #744C33;
    border-color: black;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-image {
    width: 25%;
    cursor: pointer;
}
@media screen and (max-width: 362px){
    .product-container{
        display: flexbox;
    }
 }
 @media screen and (max-width: 362px){
    .header{
        display: block;
    }
 }
 @media screen and (max-width: 362px){
    .main{
        display: block;
    }
 }
 @media screen and (max-width: 362px){
    .footer{
        display: block;
    }
 }